{% extends "layout.html" %}
{% block content %}
    <h1 class="text-center border-bottom">Sims Map</h1>
    <div id="plot-container" class="border border-dark"></div>
    <script>
        // Создаем координатную плоскость с помощью D3.js
        const width = 1000;
        const height = 500;

        const svg = d3.select("#plot-container")
            .append("svg")
            .attr("width", width)
            .attr("height", height);

        // Добавляем точки и имена людей (humans) на плоскость с использованием цикла for
        {% for human in humans %}
            const human{{ human.id }} = svg.append("circle")
                .attr("cx", width / 2 + {{ human.x }})
                .attr("cy", height / 2 - {{ human.y }})
                .attr("r", 8)
                .attr("fill", "green")
                .attr("class", "human-point")
                .on("click", function () {
                    const url = "{{ url_for('humans.human', human_id=human.id) }}";
                    window.location.href = url;
                });

            svg.append("text")
                .attr("x", width / 2 + {{ human.x }})
                .attr("y", height / 2 - {{ human.y }})
                .text("{{ human.name }}")
                .attr("fill", "black")
                .style("font-size", "10px")
                .on("click", function () {
                    const url = "{{ url_for('humans.human', human_id=human.id) }}";
                    window.location.href = url;
                });
        {% endfor %}

        {% for pet in pets %}
            const pet{{ pet.id }} = svg.append("circle")
                .attr("cx", width / 2 + {{ pet.x }})
                .attr("cy", height / 2 - {{ pet.y }})
                .attr("r", 5)
                .attr("fill", "red")
                .attr("class", "pet-point")
                .on("click", function () {
                    const url = "{{ url_for('pets.pet', pet_id=pet.id) }}";
                    window.location.href = url;
                });

            svg.append("text")
                .attr("x", width / 2 + {{ pet.x }})
                .attr("y", height / 2 - {{ pet.y }})
                .text("{{ pet.name }}")
                .attr("fill", "black")
                .style("font-size", "10px")
                .on("click", function () {
                    const url = "{{ url_for('pets.pet', pet_id=pet.id) }}";
                    window.location.href = url;
                });
        {% endfor %}

        {% for house in houses %}
            const house{{ house.id }} = svg.append("rect")
                .attr("x", width / 2 + {{ house.x }})
                .attr("y", height / 2 - {{ house.y }})
                .attr("width", 30)
                .attr("height", 30)
                .attr("fill", "grey")
                .attr("class", "house-point")
                .on("click", function () {
                    const url = "{{ url_for('houses.house', house_id=house.id) }}";
                    window.location.href = url;
                });

            svg.append("text")
                .attr("x", width / 2 + {{ house.x }} - 20)
                .attr("y", height / 2 - {{ house.y }})
                .text("{{ house.owner_family }}'s house")
                .attr("fill", "black")
                .style("font-size", "10px")
                .on("click", function () {
                    const url = "{{ url_for('houses.house', house_id=house.id) }}";
                    window.location.href = url;
                });
        {% endfor %}
    </script>
    <div class="mt-3 text-center">
        <a href="{{ url_for('humans.new_human') }}" class="btn btn-success">New Human</a>
        <a href="{{ url_for('pets.new_pet') }}" class="btn btn-success">New Pet</a>
        <a href="{{ url_for('houses.new_house') }}" class="btn btn-success">New House</a>
    </div>
{% endblock content %}
