{% extends "layout.html" %}
{% block content %}
    <h1 class="text-center border-bottom">Sims Map</h1>
    <div id="plot-container" class="border border-dark"></div>
    <script>
        const width = 1000;
        const height = 500;

        const svg = d3.select("#plot-container")
            .append("svg")
            .attr("width", width)
            .attr("height", height);

        {% for human in humans %}
            {% if human.gender.value == "Male" %}
                const human_emoji_{{ human.id }} = "🧍‍♂️"
            {% elif human.gender.value == "Female" %}
                const human_emoji_{{ human.id }} = "🧍‍♀️"
            {% else %}
                const human_emoji_{{ human.id }} = "🚁"
            {% endif %}
            svg.append("text")
                .attr("x", width / 2 + {{ human.x }})
                .attr("y", height / 2 - {{ human.y }})
                .text(human_emoji_{{ human.id }})
                .attr("fill", "black")
                .style("font-size", "20px")
                .on("click", function () {
                    const url = "{{ url_for('humans.human', human_id=human.id) }}";
                    window.location.href = url;
                });

            svg.append("text")
                .attr("x", width / 2 + {{ human.x }})
                .attr("y", height / 2 - {{ human.y }} - 20)
                .text("{{ human.name }}")
                .attr("fill", "black")
                .style("font-size", "10px")
                .on("click", function () {
                    const url = "{{ url_for('humans.human', human_id=human.id) }}";
                    window.location.href = url;
                });
        {% endfor %}

        {% for pet in pets %}
            {% if pet.type.value == "Cat" %}
                const pet_emoji_{{ pet.id }} = "🐈"
            {% elif pet.type.value == "Dog" %}
                const pet_emoji_{{ pet.id }} = "🐕"
            {% elif pet.type.value == "Hamster" %}
                const pet_emoji_{{ pet.id }} = "🐹"
            {% elif pet.type.value == "Fish" %}
                const pet_emoji_{{ pet.id }} = "🐟"
            {% else %}
                const pet_emoji_{{ pet.id }} = "🦜"
            {% endif %}
            svg.append("text")
                .attr("x", width / 2 + {{ pet.x }})
                .attr("y", height / 2 - {{ pet.y }})
                .text(pet_emoji_{{ pet.id }})
                .attr("fill", "black")
                .style("font-size", "20px")
                .on("click", function () {
                    const url = "{{ url_for('pets.pet', pet_id=pet.id) }}";
                    window.location.href = url;
                });

            svg.append("text")
                .attr("x", width / 2 + {{ pet.x }} + 3)
                .attr("y", height / 2 - {{ pet.y }} - 20)
                .text("{{ pet.name }}")
                .attr("fill", "black")
                .style("font-size", "10px")
                .on("click", function () {
                    const url = "{{ url_for('pets.pet', pet_id=pet.id) }}";
                    window.location.href = url;
                });
        {% endfor %}

        {% for house in houses %}
            svg.append("text")
                .attr("x", width / 2 + {{ house.x }})
                .attr("y", height / 2 - {{ house.y }})
                .text("🏠︎")
                .attr("fill", "black")
                .style("font-size", "20px")
                .on("click", function () {
                    const url = "{{ url_for('houses.house', house_id=house.id) }}";
                    window.location.href = url;
                });

            svg.append("text")
                .attr("x", width / 2 + {{ house.x }} - 5)
                .attr("y", height / 2 - {{ house.y }} - 20)
                .text("House")
                .attr("fill", "black")
                .style("font-size", "10px")
                .on("click", function () {
                    const url = "{{ url_for('houses.house', house_id=house.id) }}";
                    window.location.href = url;
                });
        {% endfor %}
    </script>
    <div class="mt-3 text-center">
        <a href="{{ url_for('humans.new_human') }}" class="btn btn-success mb-2">New Human</a>
        <a href="{{ url_for('pets.new_pet') }}" class="btn btn-success mb-2">New Pet</a>
        <a href="{{ url_for('houses.new_house') }}" class="btn btn-success mb-2">New House</a>
        <a href="{{ url_for('families.new_family') }}" class="btn btn-success mb-2">New Family</a>
        <br>
        <a href="{{ url_for('families.all_families') }}" class="btn btn-info mb-2">All Families</a>
    </div>
{% endblock content %}
