{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>List of Families</h1>
        <ul class="list-group">
            {% for family in families %}
                <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                    <h3 class="mb-0">{{ family.name }}</h3>
                    <a href="{{ url_for('houses.house_add_family', family_id=family.id, house_id=house_id) }}" class="btn btn-outline-info">Add</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
