{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>List of Families</h1>
        <ul class="list-group">
            {% for family in families %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">{{ family.name }}</h3>
                    <a href="{{ url_for('families.family', family_id=family.id) }}" class="btn btn-outline-info">More</a>
                </li>
                <br>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
